@import url(https://fonts.googleapis.com/css?family=Marvel:400,700,400italic,700italic);


::root{
  font-size: 16px;

}

*{
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscaled;
  text-rendering: optimizeLegibility;

  -ms-overflow-style: none;
}


body {
  font-family: Verdana, sans-serif; 
}

a {
  color: #0063C3;
  text-decoration: none; 

  &:hover {
    text-decoration: none;
    color: $brand-primary
  }
  &:active {
    text-decoration: none;
    
  }
  &:focus {
    text-decoration: none;
    
  }
}

h1, h2, h3, h4, h5, h6,
p {
  font-family: 'Marvel', helvetica neue, sans-serif;
}


%hr{
  width: 50%;
  height: 1px;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, #aaa 50%, rgba(255,255,255,0) 100%);
  border: none;
}
hr{
  margin: 1em auto;
  @extend %hr;
}