button {
  -webkit-appearance: none;
  appearance: none;
  border: none !important;
  background: $secondary-color;
  color: #fff;
  border-radius: 3px;
  text-align: center;
  padding: 8px 6px;
  position: relative;
  outline: none;
  border-bottom: 2px solid darken($secondary-color, 5%) !important;
  
  &:hover {
    background: lighten($secondary-color, 5%);
  }
  

  &.full {
    width: 100%;
  }

  &.btn-profile {
    &:before {
      content: '';
      display: block;
      width: 42px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: {
        image: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\' viewbox=\'100 100 100 100\' width=\'100\' height=\'100\'><path fill=\'%23fff\' d=\'M83.8 75.384C81.844 63.047 71.568 53.72 59.848 50.27c5.036-5.58 7.716-14.677 7.726-20.845.015-9.456-7.786-19.278-17.73-19.278-9.942 0-17.743 9.822-17.728 19.278.01 6.195 2.712 15.345 7.79 20.917C28.29 53.85 18.143 63.132 16.2 75.384c-.804 5.074 5.118 8.442 8.95 10.167 7.518 3.384 16.105 4.536 24.285 4.596 8.28.06 16.935-1.01 24.616-4.248 4.027-1.698 10.6-5.146 9.75-10.514z\'/></svg>");
        size: 60%;
        repeat: no-repeat;
        position: center center;
      }
    }
  }
}

a{
  &.btn-profile {
   color: $primary-color;
   display: inline-block;
   padding: 2px 8px;
   border: 1px solid currentColor;
   border-radius: 50px;
   outline: none;
   font-size: 14px;

   &:hover {
    background: $primary-color;
    color: #fff;
    border-color: $primary-color
   }
  }
}