$input-height: $header-height - 8px;
$input-color-inactive: rgba(255, 255, 255, .8);
$input-color-active: #FFF;
$input-width-inactive: 330px;
$input-width-active: 430px;

// Header
.l-header {
  display: flex;
  flex-flow: row wrap;
  background: $red;
}

// Marvel logo
.header--logo {
  height: $header-height;
  margin: 0 1rem;
}

// Search input
.header--input-wrapper {
  flex: 0;
  position: relative;
  flex-basis: $input-width-active;
}

.header--input {
  border: 0;
  border-bottom: 2px solid $input-color-inactive;
  height: $input-height;
  display: block;
  font-size: 1rem;
  line-height: $header-height;
  width: $input-width-inactive;
  transition: width 0.3s ease;
  background: {
    color: transparent;
    image: url("./img/svg-icons/search-icon.svg");
    repeat: no-repeat;
    position: right 12px;
    size: 36px;
  }
  @include placeholders{
    color: $input-color-inactive;
  }
  &:focus {
    outline-color: transparent;
    width: $input-width-active;
    border-color: $input-color-active;
    color: $input-color-active;
  }
}

.header--infos {
  flex: 1 1 auto;
  position: relative;
}

.header--stats {
  position: absolute;
  bottom: .4rem;
  right: .5rem;
  font-size: 0.9em;
  color: rgba(white, 0.8)
}

.header--algolia {
  flex: 1 1 content;
  color: #FFF;
  text-align: right;
  line-height: $header-height;
  padding: 1rem .5rem 0 .5rem;
  vertical-align: bottom;
  &:hover {
    color: #FFF;
  }
}
.header--algolia-logo {
  vertical-align: text-bottom;
}
