span.power,
span.partner {
    display: inline-block;
    float: left;
    font-weight: 600;
    font-size: 12px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 2px;
    color: darken(#BDC3C7, 10%);

    &:hover {
      color: $brand-primary
    }

    &:not(:last-child):after {
      content: ','
    }
  }


 