// Hits main area
.ais-hits {
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
}

// Each hit
.ais-hits--item {
  flex: 1 1 400px;
}

// Hit template
.hit {
  margin: 5px;
  height: 200px;
  overflow: hidden;
  border: 1px solid darken(#eff0f1, 10%);
  box-shadow: 0 1px 0 #c5cad8, 0 2px 3px #d4d8e3;
  display: flex;
  flex-flow: row nowrap;
  cursor: pointer;
}

.hit--thumbnail {
  flex: 0 1 33%;
  position: relative;
  background: {
    image: url(./img/hit-default.jpg);
    repeat: no-repeat;
    position: top center;
    size: cover;
  }
  // Image placehold after loading
  &:before {
    box-shadow: inset -16px 0 3em rgba(0,0,0,0.5);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: {
      repeat: no-repeat;
      position: top center;
      size: cover;
    }
  }
}
.hit--content {
  flex: 1 1;
  padding: .5rem 1rem;
  position: relative;
  overflow: hidden;
  background: {
    repeat: no-repeat;
    position: top center;
    size: cover;
  }
  // Fade out
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 2rem;
    background: linear-gradient(to bottom, rgba(black, 0), rgba(black, 1) 90%);
    display: block;
  }
}
.hit--title {
  margin: 0;
  font-family: 'Title';
  color: #FFF;
  font-size: 1.9rem;
  text-shadow: 1px 1px 1px lighten(#000, 50);
  // Highlight
  em {
    color: $red;
  }
}
.hit--description {
  color: darken(#FFF, 50);
  font-size: .9rem;
  line-height: 1.1rem;
  em {
    font-style: normal;
    font-weight: bold;
    color: $red;
  }
}
