.hero-profile {
  max-width: $profile-bar-width;
  width: 20%;
  height: calc(100% - #{$header-height});
  position: fixed;
  float: left;
  background: $third-color;
  transform: translateX(#{$profile-bar-width});
  top: $header-height;
  right: 0;
  transition: transform 0.3s ease;
  border-left: 1px solid darken($third-color, 10%);
  padding: 0 16px;
  overflow: auto;

  &.shown {
    transform: translateX(0);
  }


  header {
    min-height: 220px;
    width: calc(100% + 32px);
    position: relative;
    top: 0;
    left: -16px;
    border-bottom: 6px solid #FFF;
    box-shadow: 0 2px 1px rgba(255,255,255,1);

    background: {
      image: url('http://i.annihil.us/u/prod/marvel/i/mg/6/90/537ba2184e75f.gif');
      repeat: no-repeat;
      position: center center;
      size: cover;
    }

    margin-bottom: 3em;

    &:after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: red;
      z-index: 1;
      mix-blend-mode: color
    }
  }

  .hero-name,
  .hero-secret-identity {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 50%;
    margin: auto;
    top: 30%;
    color: #fff;
    font-size: 1.8em;
    display: block;
    transform: translate(-50%, -50%);
    z-index: 5;

    em {
      text-decoration: none;
      font-style: normal;
    }
  }
  .hero-secret-identity {
    top: 58%;
    font-size: 1.4em;

    &:before {
      content: 'AKA';
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: -26px;
      font-size: 0.9em;
      color: rgba(white, 0.5);
    }
  }
  .hero-avatar {
    max-width: 100px;
    max-height: 100px;
    min-height: 100px;
    border-radius: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -50px;
    overflow: hidden;
    border: 6px solid #fff;
    z-index: 5;

    img {
      width: 105%;
      height: 105%;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      transform: scale(1.3);
    }
  }

  &[data-hero="true"] header{

  }
  &[data-villain="true"] header{

  }
  &[data-hero="false"][data-villain="false"] header{

  }


  .facet--title {
    margin-top: 1em;

    &:nth-of-type(1){
      margin-top: 2em;
    }
  }
  .hero-description {
    padding-top: 1em;
    margin-top: 1em;

    p {
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      color: darken(#BDC3C7, 35%);
      font-weight: bold;

    }
  }

  .hero-powers {
    float: left;

  }
}


//

  #closeProfile {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 54px;
    height: 54px;
    background:url("data:image/svg+xml;utf8,<svg width=\'70\' height=\'70\' viewBox=\'0 0 140 140\' xmlns=\'http://www.w3.org/2000/svg\'><path d=\'M32.768 35l-16.87 16.87c-.617.616-.617 1.618 0 2.233.307.308.712.462 1.115.462.406 0 .808-.154 1.116-.462L35 37.233l16.87 16.87c.31.308.714.462 1.117.462s.808-.154 1.116-.462c.616-.615.616-1.617 0-2.232L37.233 35l16.87-16.87c.616-.616.616-1.618 0-2.233-.615-.616-1.617-.616-2.232 0L35 32.767l-16.87-16.87c-.616-.616-1.618-.616-2.233 0-.616.615-.616 1.617 0 2.232L32.767 35zm2.21-35C15.706 0 0 15.705 0 34.98 0 54.252 15.705 70 34.98 70 54.252 70 70 54.253 70 34.98 70 15.704 54.253 0 34.98 0zm.192 3C53 3 67.34 17.34 67.34 35.17 67.34 53 53 67.34 35.17 67.34 17.34 67.34 3 53 3 35.17 3 17.34 17.34 3 35.17 3z\' fill=\'%23fff\' fill-rule=\'evenodd\'/></svg>")no-repeat center center / 100%;
    z-index: 9;
  }