.l-sidebar {
  padding: 20px 15px 20px 20px;
  border-right: 1px solid #EEE;
}

// Titles of each facet
.facet--title {
  font-size: 1.8rem;
  margin: 0 0 8px;
  color: $red;
}

// Bottom page thank you note
.thank-you {
  font-size: .9rem;
  line-height: 1.2rem;
  padding-bottom: .5rem;
}
