$base-font-size: 16px;

// Colors
$red: #F11E22;

// UI dimensions
$header-height: 60px;
$sidebar-width: 250px;
$main-area-two-columns: 640px;
$profile-width: 450px;

// RWD breakpoints
$breakpoint-sidebar: $sidebar-width + $main-area-two-columns;

// Vars I'd like to remove
$brand-primary: #f11e22;
$primary-color: #bdc3c7;
$secondary-color: #279ce1;
