{
  "globals": {
    "Hogan": true,
    "cleanUpStubs": true,
    "inViewport": true,
    "instantsearch": true,
    "$": true,
    "_": true
  },
  "extends": "algolia",
  "rules": {
    "no-var": 2,
    "no-console": 0,
    "no-use-before-define": 0,
    "no-unused-vars": [
      2,
      {
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "algolia/relative-require": 2,
    "algolia/force-import-root": 2,
    "algolia/no-require": 1,
    "algolia/no-module-exports": 2
  }
}
