body {
  font-family: Verdana, sans-serif; 
}

a {
  color: #0063C3;
  text-decoration: none; 
}

/* Make the content use the whole width */
.content-wrapper {
  margin: 0 -15px;
  min-width: 620px; 
}

/* HEADER */
.header {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 10px;
  background: #E92126; 
}
.header--logo {
  height: 40px;
  float: left;
  margin-right: 20px;
}
.header--input-group {
  float: left;
  display: inline-block;
  width: 350px;
  height: 30px;
  margin-top: 5px;
  border-radius: 5px;
  overflow: hidden; 
}
.header--input {
  border: 0;
  height: 100%; 
}
.header--input:focus {
  outline: none;
  box-shadow: inset 0 0 0 1px #FFBE61;
}
.header--stats {
  line-height: 40px;
  float: left;
  margin-left: 20px;
  color: white;
}
.header--algolia {
  line-height: 40px;
  float: right;
  margin-left: 20px;
  color: white;
}
.header--algolia:hover {
  color: #FFF;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  overflow-y: auto;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 270px;
  padding: 20px;
  border-right: 1px solid #EEE;
  background: #FFFFFF; 
}

/* CLEAR ALL */
.ais-clear-all {
  margin-bottom: 10px;
}

/* FACETS */
.facet--title {
  font-size: 1.2em;
  color: #888;
  margin: 0 0 8px;
}
.ais-refinement-list {
  margin-bottom: 1.3rem;
}
.ais-refinement-list--item {
  padding-bottom: .3rem;
}
.ais-refinement-list--label {
  font-weight: normal;
  display: block;
  cursor: pointer;
  font-size: 1.3rem;
  margin: 0;
}
.ais-refinement-list--label:hover {
  color: #E92126;
}
input.ais-refinement-list--checkbox {
  margin: 0px 5px 0px 0px;
}
.ais-refinement-list--count {
  margin-left: 4px;
  color: #888;
  float: right;
}
.ais-refinement-list--item__active .ais-refinement-list--label {
  font-weight: bold;
}

/* THANK YOU */
.thank-you {
  border-top: 1px solid #888;
  text-align: center;
  padding-top: .5rem;
  font-size: 1.3rem;
}

/* RESULTS */
.results {
  padding: 70px 10px 10px 270px;
}

/* HITS */
.hits {
  overflow: hidden;
}

.hit {
  float: left;
  width: 500px;
  background: #eff0f1;
  margin: 0px 10px 10px 0px;
  height: 200px;
  overflow: hidden;
}
.hit--picture-wrapper {
  float: left;
  padding: 5px;
  width: 150px;
  height: 200px;
  text-align: center;
}
.hit--picture-wrapper img {
  max-width: 140px;
  max-height: 190px;
}
.hit--desc-wrapper {
  float: left;
  width: 350px;
  height: 200px;
}
.hit--name {
  font-size: 2rem;
  font-weight: bold;
  color: inherit;
  line-height: 2rem;
  padding: 5px 0px;
  display: block;
}
.hit--realname {
  font-size: 1rem;
}
.hit--aliases {
  font-size: 1rem;
}
.hit--species {
  font-size: 1rem;
}
.hit--creators {
  font-size: 1rem;
  padding-bottom: .5rem;
}
.hit--powers {
  margin-top: .5rem;
  font-size: 1.3rem;
}
.hit em {
  color: #000000;
  font-style: normal;
  background-color: #FFBE61;
}

/* PAGINATION */
.pagination {
  margin-top: 10px;
  background-color: #EEE;
  font-size: 1.2em;
  line-height: 3em;
  text-align: center; 
  width: 100%;
}
.ais-pagination--item__active a {
  color: #000000;
  font-weight: bold; 
}
.ais-pagination--item__disabled {
  visibility: visible; 
}
.ais-pagination--item__disabled a {
  color: #bbbbbb; 
}
.ais-pagination--item__disabled a:hover {
  cursor: default;
  text-decoration: none; 
}
.pagination  ul {
  margin: 0;
  padding: 0; 
}
.pagination li {
  padding: 0 8px; 
}
.pagination .fa {
  position: relative;
  top: 5px; 
}
